rdkit>=2023.09

torch>=2.0
pytorch-lightning>=2.0
tensorboard
einops
scikit-learn

numpy
pandas
pyyaml
types-pyyaml
joblib
omegaconf
gitpython
cryptography
rich

matplotlib
seaborn
tqdm
jupyterlab
ipywidgets
click
